@page {
    size: A4;
    margin: 0;
}

.claiming_info{
    justify-content: left;
    text-align: left;
}

.claiming_slip_page {
    line-height: 1;
}

#claiming{
    border: 1px solid #ccc; /* Set the border style */
    border-radius: 5px; /* Add rounded corners */
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px;
    width: 50%;
}

.header_claiming_slip{
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

.header_claiming_slip_number{
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

.claiming_bold{
    font-weight: bold;
    font-size: 10px;
}

.instruction{
    font-size: 4px;
    text-align: center;
}

#claiming_hr{
    border: 0.5px solid black;
    opacity: 1;

}

.create_claim_page {
    border: 1px solid #ccc; /* Set the border style */
    border-radius: 5px; /* Add rounded corners */
    padding: 20px; /* Add some padding for spacing */
}

.create_claim {
    border: 3px solid black; /* Set the border style */
    border-radius: 5px; /* Add rounded corners */
    padding: 20px; /* Add some padding for spacing */
}

.claiming_text{
    font-size: 10px;
}

.claiming_text_samp{
    font-size: 10px;
    margin: 0px 5px;
}
