body {
    margin: 0;
    height: 100vh;
}

p {
    margin-bottom: 0;
}

#front_desk_page {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    flex-grow: 1;
}

#side_blue_box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 282px;
    height: 100%;
    background: rgb(34, 145, 253);
    background: linear-gradient(180deg, rgba(34, 145, 253, 1) 0%, rgba(104, 181, 255, 1) 28%, rgba(34, 145, 253, 1) 100%);
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.3);
}

#logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

#logo_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1;
    color: #fff;
    margin-left: 9px;
}

#company_name {
    font-family: 'ethnocentric', sans-serif;
    font-size: 1em;
}

#company_sub_name {
    font-family: 'acherusgrotesque', sans-serif;
    font-size: 0.75em;
}

#logo_image {
    width: auto;
    height: 30px;
}

#front_desk_container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    margin-left: 282px;
}

/* Header */
#header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#notif_container {
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

#notif_icon {
    color: #2291FD;
    font-size: 20px;
    margin: 3px 2px;
}

#notif_icon:hover {
    cursor: pointer;
}

#profile_container {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #22C997;
}

#profile_image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 40px;
}

#user_name {
    margin-left: 6px;
    margin-right: 9px;
}

#drop_down_icon {
    margin-right: 30px;
}

#drop_down_icon:hover {
    cursor: pointer;
}

#dashboard_title_text {
    font-size: 1.25em;
    font-weight: 300;
    color: #345AFD;
    padding-top: 20px;
    margin-bottom: 0;
    margin-left: 69px;
}

#dashboard_container {
    flex-grow: 1;
    background-color: #EBF0F3;
}

#dashboard_greeting_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

#greetings {
    color: #345AFD;
    font-weight: 700;
    font-size: 2.625em;
    margin-top: 20px;
    margin-left: 69px;
    line-height: 1;
}

#front_desk_name {
    color: #22C997;
}

.btn_create {
    width: 154px;
    height: 46px;
    margin-right: 91px;
}


#dashboard_card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 69px 83px;
}

#dashboard_table_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 39px 0px;
}

.table_card {
    width: 100%;
    border: none;
}

thead {
    background-color: #E7E7E7;
    font-size: 16px;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

#recent_cid_table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

#recent_cid_table tbody tr {
    background-color: #EBF0F3 !important;
    border-radius: 10px; /* Apply border-radius to tr */
}

#time_date_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.calendar_card {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 90%;
}

#time {
    font-size: 1.875em;
    color: #fff;
    text-align: center;
}

.stats_card {
    border-radius: 10px;
    overflow: hidden;
    width: 319px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-bottom: none;
}

.technician_name {
    font-weight: 600;
    font-size: 1.25em;
}

.number_onging_task {
    font-weight: 600;
    font-size: 2.25em;
    color: #EE96E5;
}

.ongoing_task {
    font-size: 0.875em;
}

.info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    border-radius: 10px;
}

.large_icon {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    color: white;

}

.icons {
    margin-left: auto;
    background-color: #EE96E5;
    width: 83px;
    height: 83px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more_info {
    width: 100%;
    height: 23.34px;
    background-color: #EE96E5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
