/* Custom CSS para sa imahe */
.image {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img {
    max-width: 30%;
    height: 60%;
    margin-left: -20%;
  }
  /* Custom CSS para sa teksto */
  .techy {
    font-family: 'Ethnocentric', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px; /* Dagdag na margin sa itaas ng teksto */
    margin-left: 7%; /* Dagdag na margin sa kaliwa ng teksto */
  }

  .Solutions {
    font-family: 'Poppins', sans-serif;;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px; /* Dagdag na margin sa itaas ng teksto */
    margin-left: 9%; /* Dagdag na margin sa kaliwa ng teksto */
  }

  .modal-title {
    text-align: center; /* I-center ang teksto sa header ng modal */
  }

  .modal-footer {
    justify-content: center; /* I-center ang mga elemento */
  }

.modal-body{
  max-height: 70vh; 
  overflow-y: auto;
}
.modal-body::-webkit-scrollbar {
  width: 12px; /* Ang lapad ng scroll bar */
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: blue; /* Kulay ng thumb ng scroll bar */
}


.modal-body::-moz-scrollbar-thumb {
  background-color: blue; /* Kulay ng thumb ng scroll bar */
}

.btn-cancel{
  border-color: green; /* Kulay ng gilid */
  background-color: white; /* Kulay ng background */
  color: green; /* Kulay ng teksto */
}

.scroll-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Height of the blurred area */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; /* Allow click-through */
  z-index: 1; /* Ensure the blurred area is behind the content */
  filter: blur(10px); /* Adjust the blur intensity */
}
