@media print {
    .line {
        background-color: black;
        height: 2px;
        margin: 5px 0;
        border: 1px solid black;
    }

    .cid_footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 40px;
    }   
}

@page {
    size: A4; /* Change to the desired paper size, e.g., A4 */
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    background-color: #ffffff;
}

.cid_print_container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.cid_print_content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;

    text-align: justify;
    line-height: 1.5;
    font-size: 10px;
}

.cid_print_content p,
.cid_print_content label {
    margin-top: auto;
    margin-bottom: auto;
}

.cid_print_text_bold {
    font-weight: 700;
}

.text_red {
    color: #c22510;
}

.cid_print_text_small {
    font-size: 8px;
}

.text-right {
    text-align: right;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
}

.logo {
    width: auto;
    height: 40px;
    margin: 15px;
}

.title {
    font-weight: bold;
    font-family: 'Ethnocentric', sans-serif;
    color: #2291FD;
}
